.header-search {
    background-color: #7a2744;
    border-radius: 0 0 8px 8px;
}

.container-buttons-search {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

app-settings {
    padding-left: 10px;
}

.user-menu {
    flex-basis: 35%;
    display: flex;
    justify-content: flex-end;
}

.user-menu, .user-menu p {
    padding-right: 10px;
}
