<div class="header-search">
    <!-- <app-search></app-search> -->
    <div class="container-buttons-search">

        <!-- Search videos -->
        <mat-form-field class="example-form-field">
            <input matInput type="text" #searchValue>
            <button *ngIf="searchValue" 
                matSuffix mat-icon-button aria-label="Clear" 
                (click)="searchValue.value=''">
                <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        <button 
            mat-raised-button 
            color="basic" 
            routerLink="/videos"
            (click)="searchResults(searchValue.value)">
            Search
        </button>
        
        <!-- Sorting -->
        <!-- <app-settings 
            (settingsEvent)="sortHeader($event)">
        </app-settings> -->
        <button 
            [disabled]="!authService.isLoggenIn"
            mat-raised-button
            color="basic" 
            routerLink="/admin">
            Create a card
        </button>
        
        <!-- User information -->
        <div class="user-menu">
            <button
                mat-raised-button
                color="basic"
                routerLink="/auth">
                Login
            </button>
            <button
                (click)="authService.logout()"
                *ngIf="authService.isLoggenIn"
                mat-raised-button
                color="basic">
                Logout
            </button>
            <p *ngIf="authService.isLoggenIn">Your Name</p>
            <!-- <button
                mat-mini-fab 
                color="basic"> 
                <mat-icon>filter_list</mat-icon>
            </button> -->
        </div>

    </div>
</div>
