.example-card {
    max-width: 200px;
    min-height: 350px;
    background-color: #f5eade;
    font-family: "Montserrat Alternates", "Helvetica Neue", sans-serif; 
}

.mat-card-image {
  padding: 15px;
  display: block;
  margin-right: auto;
  margin-bottom: 0;
  width: 100%;
}

.card-statistics {
  display: flex;

  p {
    margin-right: 5px;
    font-weight: bold;
    font-size: 13px;
  }
}

.mat-card-actions {
  display: flex;
  justify-content: center;

  button {
    width: 50%;
    background-color: #009185;
  }
}